$colours: (
    primary: #D6224D, 
    primaryLighter: #FF2A5D,
    bgColour: #12191f,
    bgColourOnImage: rgba(18, 25, 31, 0.6),
    error: rgb(241, 37, 88)
);

$pageSpacing: 2rem; 

$cardHeight: 576.45px;
